[submodule "config/agent-config"]
	# loads the config proto file to be compiled
	path = config/agent-config
	url = https://github.com/hypertrace/agent-config
[submodule "config/cmd/generator/_protobuf"]
	# adds support for wrappers in protobuf. Mostly used for generating
	# the config loaders. See ./config/cmd/generator
	# Important: The reason for using underscored name is so that
	# Go tooling does not look at the code inside.
	path = config/cmd/generator/_protobuf
	url = https://github.com/protocolbuffers/protobuf.git
